In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Student_Performance.csv')
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [4]:
df.shape

(10000, 6)

In [6]:
df.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Extracurricular Activities']=le.fit_transform(df['Extracurricular Activities'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  int64
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(5)
memory usage: 468.9 KB

In [10]:
df.duplicated().sum()

np.int64(127)

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df.duplicated().sum()

np.int64(0)

In [14]:
x=df.drop(['Performance Index'],axis=1) 
y=df['Performance Index']
print(x)
print(y)

      Hours Studied  Previous Scores  Extracurricular Activities  Sleep Hours  \
0                 7               99                           1            9
1                 4               82                           0            4
2                 8               51                           1            7
3                 5               52                           1            5
4                 7               75                           0            8
...             ...              ...                         ...          ...
9995              1               49                           1            4
9996              7               64                           1            8
9997              6               83                           1            8
9998              9               97                           1            7
9999              7               74                           0            8

      Sample Question Papers Practiced
0                                    1
1                                    2
2                                    2
3                                    2
4                                    5
...                                ...
9995                                 2
9996                                 5
9997                                 5
9998                                 0
9999                                 1

[9873 rows x 5 columns]
0       91.0
1       65.0
2       45.0
3       36.0
4       66.0
        ...
9995    23.0
9996    58.0
9997    74.0
9998    95.0
9999    64.0
Name: Performance Index, Length: 9873, dtype: float64

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
T=sc.fit_transform(x)
T

array([[ 0.77556551,  1.7061685 ,  1.01007813,  1.45402483, -1.24971491],
       [-0.38320542,  0.72491187, -0.99002243, -1.49131517, -0.90092522],
       [ 1.16182248, -1.06443844,  1.01007813,  0.27588883, -0.90092522],
       ...,
       [ 0.38930853,  0.78263285,  1.01007813,  0.86495683,  0.14544385],
       [ 1.54807946,  1.59072654,  1.01007813,  0.27588883, -1.59850461],
       [ 0.77556551,  0.26314405, -0.99002243,  0.86495683, -1.24971491]],
      shape=(9873, 5))

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=35)
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print(y_pred)

[30.42929439 61.23596745 28.20865474 ... 67.86642133 26.2938967
 38.8743977 ]

In [18]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
r2

0.9884248204916347

In [19]:
model=LinearRegression()
model.fit(x_test,y_test)
y_pred=model.predict(x_test)
print(y_pred)

[30.49420035 61.2092957  28.20591461 ... 67.82609633 26.35651591
 38.88356295]

In [26]:
r2=r2_score(y_test,y_pred)
r2

0.9884290656489059